.hidden{
    display: none;
}

/* For Desktop Device */
@media screen and (max-width:1276px) and (min-width:1025px) {
/* Universal Styles Start*/
.contents{
    width: 95%;
}
/* Universal Styles End*/

/* Banner Styles Start*/
.banner-container{
    width: 100%;
    padding: 10px 20px;
}

.banner-title{
    font-size: 60px;
}

.banner-description{
    font-size: 16px;
}
/* Banner Styles End*/

/* Services Styles Start*/
.card-container{
    gap: 30px;
}

.card{
    padding: 40px;
}
/* Services Styles End*/

}


/* For Laptop Device */
@media screen and (max-width:1024px) and (min-width:769px) {
/* Universal Styles Start*/
.contents{
    width: 95%;
}
/* Universal Styles End*/

/* Banner Styles Start*/
.banner-container{
    width: 100%;
    padding: 10px 20px;
}

.banner-title{
    font-size: 40px;
}

.banner-description{
    font-size: 14px;
    margin: 20px 0px;
}

.btn-button{
    padding: 10px 20px;
}
/* Banner Styles End*/

/* Shared Styles Start */
.text-title{
    font-size: 20px; 
}

.title-reason{
    font-size: 32px;
    margin-bottom: 50px;
}
/* Shared Styles End*/


/* Services Styles Start */
.card-container{
    gap: 20px;
}

.card{
    padding: 20px;
}

.card-text-content h1{
    font-size: 24px;
    margin: 20px 0px 10px;
}
/* Services Styles End */
}


/* For Tablet Device */
@media screen and (max-width:768px) and (min-width:426px) {
/* Universal Styles Start */
.contents{
    width: 95%;
}
/* Universal Styles Start */

/* Shared Styles Start */
.text-title{
    font-size: 20px; 
}

.title-reason{
    font-size: 28px;
    margin-bottom: 40px;
}
/* Shared Styles End */

/* Banner Styles Start */
.banner-container{
    width: 100%;
    flex-direction: column-reverse;
    gap: 20px;
}

.banner-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner-title{
    font-size: 40px;
}

.banner-description{
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0px;
}

.banner-img{
    width: 100%;
}

.btn-button{
    padding: 10px 20px;
    font-size: 12px;
}
/* Banner Styles End */

/* Services Styles Start */
.services-container{
    margin: 60px 0px;
}

.card-container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card{
    padding: 20px;
    width: 350px;
}

.card-img img{
    width: 100px;
    height: 100px;
}

.card-text-content h1{
    font-size: 24px;
    margin: 20px 0px 10px;
}

.card-text-content p{
    font-size: 16px;
}
/* Services Styles Start */

/* Explore the top spots of Asia Styles Start*/
.explore-asia-container{
    margin-bottom: 60px;
}
.explore-asia-card{
    padding: 28px;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 24px;
}
.explore-img{
    width: 100%;
}
.explore-img img{
    width: 100%;
}

.explore-content h1{
    font-size: 24px;
}

.explore-content p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 28px;
}
/* Explore the top spots of Asia Styles End*/

}

/* For Mobile Device */
@media screen and (max-width:425px) {
/* Universal Styles Start */
.contents{
    width: 95%;
}
/* Universal Styles End */

/* Shared Styles Start */
.text-title{
    font-size: 14px; 
}

.title-reason{
    font-size: 18px;
    margin-bottom: 30px;
}
/* Shared Styles End*/

/* Banner Styles Start */
.banner-container{
    width: 100%;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: 40px auto 0px;
}

.banner-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title{
    font-size: 30px;
}

.banner-description{
    font-size: 14px;
    line-height: 25px;
    margin: 10px 0px;
}

.banner-img{
    width: 100%;
}

.btn-button{
    padding: 10px 15px;
    font-size: 12px;
}
/* Banner Styles End*/

/* Services Styles Start */
.services-container{
    margin: 40px 0px;
}

.card-container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card{
    padding: 20px;
    width: 350px;
}

.card-img img{
    width: 100px;
    height: 100px;
}

.card-text-content h1{
    font-size: 20px;
    margin: 20px 0px 10px;
}

.card-text-content p{
    font-size: 14px;
}
/* Services Styles End*/

/* Explore the top spots of Asia Styles Start*/
.explore-asia-container{
    margin-bottom: 40px;
}
.explore-asia-card{
    padding: 18px;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 18px;
}
.explore-img{
    width: 100%;
}
.explore-img img{
    width: 100%;
}

.explore-content h1{
    font-size: 20px;
}

.explore-content p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
}
/* Explore the top spots of Asia Styles End*/

}