/* Universal Styles Start*/
*{
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    background: linear-gradient(177deg, #FFF 0.28%, #EBDCFF 99.93%);
    min-height: 100vh;
}

.contents{
    width: 1260px;
    margin: 0 auto;
}
/* Universal Styles End*/

/* Shared Styles Start*/
.btn-button{
    padding: 16px 32px;
    border-radius: 30px;
    border: 2px solid #872BFF;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.text-container{
    text-align: center;
}

.text-title{
    text-transform: uppercase;
    color: #F411CF;
    font-size: 24px;
    letter-spacing: 7.2px;
    margin-bottom: 14px;  
}

.title-reason{
    color:  #1C1C1C;
    font-size: 44px;
    margin-bottom: 60px;
}
/* Shared Styles End*/

/* Banner Styles Start*/
.banner-container{
    display: flex;
    width: 1260px;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-image: url('./images/hero-bg.png');
    background-size: 150px 150px;
    background-repeat: repeat;
    border:1px solid #872BFF1A ;
    margin: 100px auto 0px;
}

.banner-content{
    width: 50%;
}

.banner-title{
    color:#1C1C1C;
    font-size: 70px;
    font-weight: 700;
}

.color-title{
    color:#F411CF;
}

.banner-description{
    color:#A8A8A8;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.btn-section{
    display: flex;
    gap: 10px;
}

.get-started{
    color: #ffffff;
    background-color:#872BFF;
    
}
.get-started:hover{
    color:#872BFF;
    background-color:#ffffff;
}

.watch-demo{
    border:2px solid#F411CF;
    color: #F411CF;
}

.watch-demo:hover{
    color: #ffffff;
    background-color:#F411CF;
    border: 2px solid #F411CF;
}

.banner-img{
    width: 50%;
}

.banner-img img{
    width: 100%;
}
/* Banner Styles End*/

/* Services Styles Start*/
.services-container{
    margin: 120px 0px;
}

.card-container{
    display: flex;
    gap: 60px;
}

.card{
    padding: 60px;
    background-color: #FDFFFF;
    border-radius: 30px;
    box-shadow: 0px 2px 70px 0px rgba(0, 0, 0, 0.06);
}

.card-img{
    display: flex;
    justify-content: center;
}

.card-img img{
    width: 70px;
    height: 70px;
}

.card-text-content{
    text-align: center;
}

.card-text-content h1{
    color: #1C1C1C;
    font-size: 28px;
    font-weight: 600;
    margin: 60px 0px 30px;
}

.card-text-content p{
    color: #A8A8A8;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}
/* Services Styles End*/

/* Explore the top spots of Asia Styles Start*/
.explore-asia-container{
    margin-bottom: 120px;
}

.explore-asia-card{
    padding: 48px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
}

.explore-content h1{
    color: rgba(14, 14, 14, 0.80);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}

.explore-content p{
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 32px;
}

.book-now{
    color: #ffffff;
    background-color:#872BFF;
    
}
.book-now:hover{
    color:#872BFF;
    background-color:#ffffff;
}
/* Explore the top spots of Asia Styles Start*/

.covering-countries-container{
    margin-bottom: 120px;
}

.covering-countries-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 60px;
}

.covering-countries-card{
    text-transform: uppercase;
    padding: 40px;
    background-color: #FDFFFF;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.covering-countries-card:hover{
    background-color:#872BFF;
    color:#ffffff;
    cursor: pointer;
}

.explore-now-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-now-btn{
    color: #ffffff;
    background-color:#872BFF;
}

.explore-now-btn:hover{
    background-color: #ffffff;
    color:#872BFF;
}

.tourist-review-container{
    margin-bottom: 120px;
}

.tourist-review-cards{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.tourist-review-card{
    background-color: #ffffff;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.tourist-review-card > p{
    color: rgba(14, 14, 14, 0.80);
    text-align: center;
    line-height: 24px;
    margin-bottom: 60px;
}

.tourist-review-bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 150px;
}

.name-designation h3{
    color: rgba(14, 14, 14, 0.80);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px; 
}

.name-designation p{
    color: rgba(14, 14, 14, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer-container{
    background-color: #ffffff;
    padding: 17px 123px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p{
    color: #5B5757;
}

.social-icons{
    display: flex;
    gap: 32px;
}